body{
    font-family: Arial;
}

a{
    text-decoration: none;
}

h1 {
    color: blue;
    text-align: center;
}

h1:hover {
    text-decoration-line: underline;
}

#portraitimg {
    border-radius: 10px;
    height: 200px !important;
    vertical-align: middle !important;
}

#flexaligncontainer {
    display: flex;
    flex-direction: column;
}

.infotext {
    margin: 16px;
    font-size: 24px;
    font-weight: bold;
}

#footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: gray;
    color: white;
    border-radius: 10px 10px 0px 0px;
    margin: 20px -8px -8px;
}

.svglogo{
    filter: invert(100%);
}

#footer ul{
    list-style-type: none;
}

#footer div{
    margin: 0px 30px;
    padding: 20px;
}

#footer p{
    margin: 0;
}

.lineheader{
    margin-bottom: 10px !important;
}