/* General styles */
body {
    font-family: Arial;
    margin:0;
    background-color: mintcream;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: black;
    color:white;
    height: 20px;
    text-align: center;
}

/* Navigation styles */
nav{

}

nav ul {
    background-color: #333;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

nav .active {
    background-color: bisque;
    color:black;
}

/* Heading styles */
h1 {
    color: black;
    text-align: center;
}

h3 {
    border-bottom: 2px solid brown;
    padding: 4px;
}

/* Image styles */
#portraitimg {
    border-radius: 10px;
    height: 200px !important;
    vertical-align: middle !important;
}

/* Flex container styles */
#flexaligncontainer {
    display: flex;
    flex-direction: column;
}

/* Info text styles */
.infotext {
    margin: 16px;
    font-size: 24px;
    font-weight: bold;
}

/* Footer styles */
#footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #333;
    color: white;
    border-radius: 10px 10px 0px 0px;
    margin: 20px 0px 0px;
}

#footer ul {
    list-style-type: none;
}

#footer div {
    margin: 0px 30px;
    padding: 20px;
}

#footer p {
    margin: 0;
}

.lineheader {
    margin-bottom: 10px !important;
}

/* SVG logo styles */
.svglogo {
    filter: invert(100%);
}

#firstsec {
    margin: 36px;
}

/*Grid*/
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item{
    text-align: center;
    padding:8px;
    background-color: whitesmoke;
    border: 1px solid brown;
}

.grid-item:hover{
    background-color:antiquewhite;
}